* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-areas: {
    'sec-1 sec-2'
    'sec-3 sec-2'
    'sec-4 sec-2'
  } 
}

.side_bar {
  display: flex;
  justify-content: space-evenly;
  background-color: #fbf665;
}

.projects {
  grid-area: 'sec-1'; 
  padding: 20px;
  background-color: #fbf665
}

.about {
  grid-area: 'sec-3';
  padding: 20px;
  background-color: #fbf665
}

.contact {
  grid-area: 'sec-4'; 
  padding: 20px; 
  background-color: #fbf665
}

.main_stage {
  display: flex;
  grid-area: 'sec-2';
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
  background-color: #fbf665;
}

.photo {
  background-image: url(images/CV\ Photo.jpg);
  height: 100px;
  padding: 100px;
}

@media (max-width: 750px) {
  
}

