/* Aiming for a sleek futuristic style, cyberpunk inspired with lots of character flowing through it */

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
  } 


/* Side bar or across top?? */

.side_bar {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  text-align: center;
  border-bottom: 1.5px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

#anchor_1 {
  position: relative;
  padding-top: 50px;
}

#anchor_2 {
  position: relative;
  padding-top: 50px;
}

#anchor_3 {
  position: relative;
  padding-top: 50px;
}

#bio_1 {
  position: relative;
  padding-top: 100px;
  height: 100vh; 
}

/*Need to add placeholder projects: 1) Dynamic Landing Page 2) JavaScript Quiz 3) Weather App 4) Calculator*/
/* colours that I like so far: 

Purple/Plum/Grey/Light Blue/Dark blue: #63345e / #ab61b9 / #b7c1de / #0b468c / #092047
Grey/Cream/Light Green/Dark Green/Dark Grey Green: #b0acb0 / #e2dddf #85ebd9 #3d898d #2f404d
Light yellow - #fff69f Light Orange #fdd870 Dark Orange #d0902f brown #a15501 dark brown: #351409

Final choice: Neon Blue: #5bccf6 / Yellow #fcde67 / Black #030e12

*/
.about {
  padding: 20px;
  text-decoration: none;
  border-radius: 25px;
  color: #5bccf6;
  font-size: 20px;
}

#about-content {
  border-radius: 25px;
  font-size: 25px;

}

.projects {; 
  padding: 20px;
  text-decoration: none;
  border-radius: 25px;
  color: #5bccf6;
  font-size: 20px;
}


.contact {
  padding: 20px; 
  text-decoration: none;
  border-radius: 25px;
  color: #5bccf6;
  font-size: 20px;
}

#hero {
  display: block;
  position:relative;
  height: 100vh; 
  padding: 100px;
  margin: 10px;
  font-family: Roboto;
  text-align: center;
  border-radius: 25px;
}

.name {
  color: #5bccf6;
}

section h1, h3 {
  border-radius: 25px;
  font-size: 30px;
}

section h1 {
  padding-top: 220px;
  margin-right: 300px;
  font-size: 100px;
}

section h3 {
  text-indent: 400px;
  font-family: 'open sans';
  font-size: 40px;
}



article div h3 {
  color: #5bccf6;
}

.bio {
  display: flex; 
  
}

#flex-parent {
  width: 15%;
  /* position: relative; */
  display: flex;
  justify-content: space-evenly; 
  align-items: center;  
  padding: 30px;
}

#about-content {
  display: flex; 
  justify-content: space-around; 
  width: 80%;
  align-items: center; 
  padding: 30px;
}

.project_container {
  display: flex; 
  justify-content: space-evenly;
  padding-top: 50px;
}

.placeholder {
  display: flex;
  justify-content: center;
}



.dlp {
  padding: 50px;
  margin: 50px;
  text-align: center;
}

.quiz {
  padding: 50px;
  margin: 50px;
  text-align: center;
}

.weather {
  padding: 50px;
  margin: 50px;
  text-align: center;
}

.calculator {
  padding: 50px;
  margin: 50px;
  text-align: center;
}

.grid_container {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.dlp .grow , .quiz .grow, .weather .grow, .calculator .grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

/* Contact form with label elements with distinguished lines  */

label {
  display: block;
  margin: 0.5rem 0;
}

.contact_form {
  padding: 50px;
  text-align: center;
}

.contact_form h3 {
  text-indent: -10px;
}

/* Responsive design - make sure it works with majority of devices when being viewed */ 


@media (max-width: 750px) {
  
}

